.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .80);

    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    position:absolute;
    width: 40%;
    height: 80%;
    background: #1f2229;
    border-color: #16181c;
    border-radius: 10px;
    box-shadow: #310151c7 0px 7px 29px 0px;
    display:flexbox;
}
.top-title{
    background: #770ec2;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
.ranks{
    display: flex;
    flex-direction: column;
}