.user{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}
.user-a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #1a1c22;
    padding-left: 20px;
}
.user-b{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #1f2229;
    padding-left: 20px;
}